<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head', {title: 'Ingreso de usuario'}) %>
    <link rel="stylesheet" href="/css/login-register.css">
    
</head>
<body>
    
    <%- include('./partials/header') %>

    <div class="container-fluid bg-login-register">
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br> 
        <div class="row justify-content-center"> 
            <div class="col-lg-3 mt-5">
                
                <form action="/usuario/ingreso" method="POST" class="loginRegisterForm mt-5 text-white">
                    <i class="fa-solid fa-user text-white"></i>
                    <p class="h2 text-center">Ingresa</p>
                    <div class="mb-3 ">
                        <label for="emailUsuario"> Email </label>
                        <input type="email" name="emailUsuario" id="emailUsuario"
                            class="form-control <%= locals.errors && errors.emailUsuario ? 'is-invalid': null%> "
                            value="<%= locals.oldData ? oldData.emailUsuario : null %>"
                        >
                            <%if (locals.errors && errors.emailUsuario) {%>
                                <div class="text-danger">
                                    <%= errors.emailUsuario.msg%>
                                </div>
                            <% } %>
                    </div>

                    <div class="mb-3"> 
                        <label for="claveLogin" class="form-label"> Contraseña </label>
                        <input type="password" name="claveLogin" id="claveLogin"
                            class="form-control <%= locals.errors && errors.claveLogin ? 'is-invalid': null%>"
                        >
                            <%if (locals.errors && errors.claveLogin) {%>
                                <div class="text-danger">
                                    <%= errors.claveLogin.msg%>
                                </div>
                            <% } %>
                    </div>

                    <div class="mb-3 g-2">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="recordame"> Recordarme
                        </label>
                    </div>

                    <div class="pb-2">
                        <div class="col-12">  
                            <button type="submit" class="btn btn-primary form-control"> Login </button>
                        </div>
                    </div>
                    <p class="pt-3 text-center">¿Aún no te has registrado? 
                        <a class="text-decoration-none" href="/usuario/registro">¡Hazlo ya!</a>
                    </p>
                </form>
                    
            </div>
        </div>

    </div>
    <%- include('./partials/footer') %>
    
    <script src="/js/login.js"> </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

    
</html>