<!DOCTYPE html>

<html>
    
    <%- include('partials/head', {title: 'Editar producto'}) %>
    <link rel="stylesheet" href="/css/create-edit-form.css">

    <body>
        <%- include('./partials/header') %> 
    
        <section class=" gradient-custom pb-5 pt-5" id="ventana_crear">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Editar producto</h3>
                      <form action="/tienda/editar/<%=productEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
          
                        <div class="row">
    
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" id="name" name="nombre" class="form-control form-control-lg <%= locals.errors && errors.nombreUsuario ? 'is-invalid': null%>"
                                value="<%= locals.oldData ? oldData.nombre : null %>">
                                <%if (locals.errors && errors.nombre) {%>
                                    <div class="text-danger">
                                        <%= errors.nombre.msg%>
                                    </div>
                                <% } %>
                              <label class="form-label" for="name">Nombre del producto</label>
                            </div>
                          </div>
    
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="number" id="price" name="precio" class="form-control form-control-lg <%= locals.errors && errors.precio ? 'is-invalid': null%>"
                                value="<%= locals.oldData ? oldData.precio : null %>">
                                <%if (locals.errors && errors.precio) {%>
                                    <div class="text-danger">
                                        <%= errors.precio.msg%>
                                    </div>
                                <% } %>
                              <label class="form-label" for="price">Precio del producto</label> 
                            </div>
                          </div>
    
                        </div>
          
                        <div class="row">
    
                          <div class="col-md-6 mb-4 d-flex align-items-center">
                            <div class="form-outline datepicker w-100">
                              <input type="number" id="discount" name="descuento" class="form-control form-control-lg <%= locals.errors && errors.descuento ? 'is-invalid': null%>"
                                value="<%= locals.oldData ? oldData.descuento : null %>">
                              <label for="discount" class="form-label">Descuento</label>
                            </div>
                          </div>
    
                          <div class="col-md-6 mb-4">
                            <label for="category" class="form-label select-label">Categoría</label>
                            <select class="select form-control-lg" name="categoria" id="categoriaID">
                                <option value=""></option>
                                <% for (let categoria of categorias) { %>
                                    <option value="<%=categoria.id %>"><%=categoria.nombre %></option>
                                <% } %>
                            </select>
                          </div>
                        </div>
    
                        <div class="row align-items-center py-3">
                            <div class="col-md-3">
                                <label for="descripcion" class="form-label select-label" class="mb-0">Descripción</label>
                            </div>
                            <div class="col-md-9">
                                <textarea name="descripcion" id="descripcion" rows="3" class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid': null%>"
                                    value="<%= locals.oldData ? oldData.descripcion : null %>"></textarea>
                                    <%if (locals.errors && errors.descripcion) {%>
                                        <div class="text-danger">
                                            <%= errors.descripcion.msg%>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
    
                        <div class="row align-items-center py-3">
                            <div class="col-md-3">
                              <label for="imagenProducto" class="mb-0">Carga la imagen</label>
                            </div>
                            <div class="col-md-9">
                              <input class="form-control form-control-lg" id="imagenProducto" type="file" name="imagenProducto" />
                                <%if (locals.errors && errors.imagenProducto) {%>
                                    <div class="text-danger">
                                        <%= errors.imagenProducto.msg%>
                                    </div>
                                <%} %>
                            </div>
                        </div>
          
                        <div class="mt-4 pt-2">
                          <input class="btn btn-lg btn-outline-secondary" type="submit" value="Editar producto" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
        <%- include('./partials/footer') %>
            
        </body>

</html>