<!DOCTYPE html>

<html>
    <!-- Include Head -->
    <%- include('partials/head', {title: 'producto'}) %>
	<link rel="stylesheet" href="/css/tiendaDetalle.css">


<body id="fondo_detalle">
    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Detalle producto tienda -->
	<div class="container fluid mt-5 mb-5 pt-5" id="fondo_detalle">
		<div class="row d-flex justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="row">
						<div class="col-md-6">
							<div class="images p-1">
								<div class="text-center p-4"> <img id="main-image" src="/img/tiendaProductos/<%=productoDetalle.imagen%>" style="max-width: 60%"/> </div>
							</div>
						</div>
						<div class="col-md-6" id="lado_derecho">
							<div class="product p-4 align-items-center">
								<div class="d-flex justify-content-between align-items-center">
									<div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Atrás</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
								</div>
								<div class="mt-4 mb-5"> <span class="text-uppercase text-muted brand">Plany</span>
									<h5 class="text-uppercase"><%=productoDetalle.nombre %></h5>
									<% if (productoDetalle.descuento != 0) { %>
									<div class="price d-flex flex-row align-items-center"> <span class="act-price">$<%=(productoDetalle.precio - (productoDetalle.precio * productoDetalle.descuento)/100) %></span>
										<div class="ml-2"> <small class="dis-price">$<%= productoDetalle.precio %></small> <span><%= productoDetalle.descuento %>% OFF</span> </div>
									</div>
									<% } else { %> 
									<div class="price d-flex flex-row align-items-center"> <span class="act-price">$<%= productoDetalle.precio %></span> </div>
									<% } %> 
								</div>
							
								<p class="about"><%=productoDetalle.descripcion %></p>
								<% if (user.rol == "COMUN") { %>
								<div class="cart mt-4 align-items-center">
									<button class="add-cart btn btn-light shadow-sm rounded-pill" id="addToCart"><i class="fa-solid fa-cart-shopping"></i> Añadir al carrito</button> 
								</div>
								<% } %>
								<% if (user.rol == "ADMIN") { %>
								<div class="p-2">
									<a class="btn btn-outline-secondary" href="/tienda/editar/<%= productoDetalle.id %>"> Editar producto </a> 
								</div>
								<div class="p-2">
									<form action="/tienda/eliminar/<%= productoDetalle.id %>?_method=DELETE" method="POST">
										<button type="submit" class="btn btn-outline-danger"> Eliminar producto </button>
									</form>
								</div>

								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	

     <!-- Footer -->
   <!-- <%- include('./partials/footer') %>-->

</body>

</html>

 